*{
    font-family: 'Khand variant0", Tofu', Arial, sans-serif;
}


.Container{
    height: 100px;
    min-width: 300px;
    width: 85%;
    border: 3px solid rgb(201, 133, 133);
    border-radius: 5px;
}
.upperContainer{
    display: flex;
    justify-content: space-between;
    
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
}
.upperLeft{
    margin-left: 15px;
}
.upperRight{
    margin-right: 15px;
    width: 30%;
}
.lowerContainer{
    display: flex;
    
    justify-content: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
}

.lowerLeft{
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    
}

.field{
    outline: none;
    /* border: none; */
    height: 30px;
    width: 100%;
    
}
.lowerRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.selectCurrecny{
    height: 25px;
    width: 50%;
}